# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Users\nicol\IdeaProjects\FYPprocess_PeterHarfouche_SergeMakhoul_ChristianMaalouly\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
